@import '../styles/variables.scss';

.landing-actions {
  &__header {
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
  }
}

.action-item {
  text-decoration: none;
  padding: 2rem;
  border: 1px solid $primary-color;
  box-shadow: 5px 5px 5px #f2f2f2;

  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
