@import '../styles/variables.scss';

.mnemonic {
  margin: 4rem;
  padding: 2rem;
  border: 1px solid $primary-color;
  box-shadow: 5px 5px 5px #f2f2f2;
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;

  p {
    padding: 1rem;
    background-color: $secondary-color;
  }
}
